head
    title= title
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/style/styleMenu.css')
    link(rel='stylesheet', href='/style/styleFormulaire.css')
    link(rel='stylesheet', href='/style/styleInfo.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==', crossorigin='anonymous')
    link(rel='icon', href='/images/favicon.png', type='image/x-icon')
    script(src="/javascripts/menu.js")
    script(src="/javascripts/animate.js")

body
    #menuToggle
        input(type='checkbox')
        span
        span
        span

    div#header-band

    #menu
        a(href='/') Menu
        a(href='/mairie') La mairie
        p.subText.noMargin horaires, présentation, compte rendu des réunions, élus et photos
        a(href='/info_utiles') Informations
        p.subText.noMargin éducation, économie et services
        a(href='/associations') Vie associative
        p.subText.noMargin liste des associations, informations
        if admin!=1
            a(href='/connexion') Espace administrateur
            p.subText.noMargin je me connecte
        else
            a(href='/moderation') Espace administrateur
            p.subText.noMargin mes messages, changer les horaires de la mairie, me déconnecter
    h1.largeMarginLeft.largeMarginTop Liomer
        span.subText  le site officiel