#menuToggle
    input(type='checkbox')
    span
    span
    span
#menu
    a(href='/') Menu
    a(href='/mairie') Mairie
    p.subText.noMargin horaires, présentation, compte rendu des réunions, élus et photos
    a(href='/poste') L'agence postale
    p.subText.noMargin horaires
    a(href='/info_utiles') Services
    p.subText.noMargin SPA, déchetterie, numéro de secours
    a(href='/associations') Vie associative
    p.subText.noMargin liste des associations, informations
    a(href='/connexion') Me connecter
    p.subText.noMargin je suis administrateur
h1.largeMarginLeft.marginTop Liomer
    span.subText  le site officiel