@font-face {
  font-family: "mybold";
  src: url(../font/MYRIADPRO-BOLD.OTF);
}

@font-face {
  font-family: "mysemibold";
  src: url(../font/MYRIADPRO-SEMIBOLD.OTF);
}

body {
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #F5F5F7;
  font-family: mybold, sans-serif;
  color: black;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 175%;
}

.subText {
  color: #747474;
  font-size: 17px;
  font-family: mysemibold, sans-serif;
}

p {
  font-size: 130%;
}

a {
  font-size: 130%;
  color: black;
  text-decoration: none;
}

.green {
  color: #00FF00;
}

.red {
  color: #EC4857;
}

.blue {
  color: #1D97FF;
}

.nextPart {
  margin-top: 100px;
}

.marginLeft {
  margin-left: 40px;
}

.marginTop {
  margin-top: 50px;
}

.bigMarginLeft {
  margin-left: 60px;
}

.lilMarginTop{
  margin-top: 20px;
}

.largeMarginLeft {
  margin-left: 70px;
}

.marginBottom {
  margin-bottom: 50px;
}

.lilMarginBottom {
  margin-bottom: 20px;
}

.noMargin {
  margin: 0;
}

.sideMargin {
  margin: 0 70px;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerV {
  height: 100%;
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.pic {
  border-radius: 30px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.largeWidth {
  width: 90vw;
}

.midWidth {
  width: 60vw;
}

.tinyWidth {
  width: 40vw;
}

.disBlock {
  display: block;
}

.backWhite {
  background-color: white;
  width: 100vw;
  padding: 60px 0;
  border-radius: 50px;
}

.redButton {
  color: white;
  background-color: #EC4857;
  font-family: mysemibold, sans-serif;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.redButton:hover {
  background-color: #c73c49;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.blueButton {
  color: white;
  background-color: #1D97FF;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.blueButton:hover {
  background-color: #177ed5;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.whiteButton {
  color: black;
  background-color: #ffffff;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.whiteButton:hover {
  background-color: #b0b0b0;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.blackButton {
  color: white;
  background-color: black;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
}

.blackButton:hover {
  background-color: #3a3a3a;
}

.affiche {
  border-radius: 30px;
  height: 600px;
  width: auto;
  margin: 0px 10px;
  transition: transform 0.3s ease;
}

.affiche:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

#affichesWrapper {
  position: relative;
  display: flex;
  width: max-content;
  padding: 30px 50px;
  left: 0px;
}

#affichesContainer::-webkit-scrollbar {
  display: none;
}

.affiches-section {
  position: relative;
  width: 100%;
}

#affichesContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: auto;
}

#scrollButtonsContainer {
  position: absolute;
  bottom: -40px;
  right: 30px;
  display: flex;
  z-index: 1;
}

#scrollLeft, #scrollRight {
  background: #F5F5F7;
  width: 45px;
  border: none;
  border-radius: 50px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  margin-right: 15px;
}

#scrollLeft:hover, #scrollRight:hover {
  opacity: 1;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}


.block{
  height: 400px;
  width: 30vw;
  border-radius: 30px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin: 0px 15px;
  background-color: white;
  display: block;
}

.animate-on-scroll {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.animate-on-scroll.active {
  opacity: 1;
}

@media (max-width: 1080px) {
  .tel {
    display: block;
  }
  .block{
    height: 400px;
    width: 80vw;
    border-radius: 30px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    margin: 30px 15px;
    background-color: white;
    display: block;
    padding: 30px;
  }

  .largeMarginLeft {
    margin-left: 20px;
  }
}

.footer {
  width: 100vw;
  background-color: white;
  padding: 30px 50px;
  border-radius: 30px 30px 0 0px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  border: none;
  color: #3b3b3b;
  background-color: #F5F5F7;
  font-family: mysemibold, sans-serif;
  font-size: 100%;
  border-radius: 25px;
  width: 70%;
  height: 40px;
  text-align: center;
  outline: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.submit {
  background-color: #EC4857;
  color: white;
  border: none;
  cursor: pointer;
  font-family: mybold, sans-serif;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.submit:hover {
  background-color: #c73c49;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

form {
  width: 500px;
}

.imagePresentation {
  border-radius: 30px;
  height: auto;
  width: 50vw;
  margin: 0px 30px;
  transition: transform 0.3s ease;
}