doctype html
html
    include partials/header.pug
    div.center
        div.formulaire
            h1 Ajouter une actualité
            p.subText * Toutes les données ci-dessous sont requises
            form.form(action='/envoyerActu', method='post', enctype='multipart/form-data')
                p titre
                input.input(type='text', id='titre', name='titre', required)
                p description
                textarea.input.textArea(id='description', name='description', required)
                p image
                p.subText * uniquement png jpg ou jpeg
                .custom-file-upload
                    input#fileInput(type='file', name='file', accept='image/png, image/jpeg, image/jpg', required)
                    label(for='fileInput') +
                div.center
                    button.submitForm(type='submit') Envoyer
    script.
        const fileInput = document.querySelector('#fileInput');
        const label = document.querySelector('.custom-file-upload label');

        fileInput.addEventListener('change', () => {
            const fileName = fileInput.files[0].name;
            label.textContent = fileName;
        });