doctype html
html
    include partials/header.pug
    div.center
        div.formulaire
            h2 Me connecter
            p.subText * Toutes les données ci-dessous sont requises
                form.form(action='/connexion', method='post')
                    p nom d'utilisateur
                    input.input(type='text', id='username', name='username', required)
                    p mot de passe
                    input.input(type='password', id='password', name='password', required)
                    div.center
                        button.submitForm(type='submit') Envoyer
    include partials/footer
