doctype html
html
    include partials/header.pug
    div.center
        h2 Éducation
    div.center
        div.blockInfoLarge
            h3 École primaire / école maternelle
            p.subText Liomer accompagne les enfants de la toute petite section au cm2.
            div.center.allWidth
                img.image(src="images/ecole1.jpg")
                img.image(src="images/ecole2.jpg")
                img.image(src="images/ecole3.jpg")
                img.image(src="images/ecole4.jpg")
    div.center
        h2 Économie
    div.center
        div.blockInfoLarge
            h3 L'agence postale
            p.subText Votre agence postale est à Liomer
            div.center.allWidth
                img.image(src="images/poste2.jpg")
                img.image(src="images/poste1.jpg")
    div.center
        div.blockInfoLarge
            h3 Friperie
            p.subText.blue Créé ton style
                span.subText=` est ouvert du Mercredi au Dimanche de 10h00 à 18h00`
            div.center.allWidth
                img.image(src="images/frip1.jpg")
                img.image(src="images/frip2.jpg")
                img.image(src="images/frip3.jpg")
                img.image(src="images/frip4.jpg")
                img.image(src="images/frip5.jpg")
                img.image(src="images/frip6.jpg")
                img.image(src="images/frip7.jpg")
                img.image(src="images/frip8.jpg")
                img.image(src="images/frip9.jpg")
                img.image(src="images/frip10.jpg")
                img.image(src="images/frip11.jpg")
                img.image(src="images/frip12.jpg")
                img.image(src="images/frip13.jpg")
                img.image(src="images/frip14.jpg")
                img.image(src="images/frip15.jpg")
    div.center
        h2 Services
    div.center
        div.blockInfoLarge
            h3 Réserver la salle des fêtes
            p.subText 06 33 33 69 90
            div.center.allWidth
                img.image(src="images/sdf2.jpg")
                img.image(src="images/sdf3.jpg")
    div.center
        div.blockInfoLarge
            h3 Ajouter mon affiche
            a.subText(href='mailto:communeliomer@gmail.com', target='_blank') envoyer l'affiche à l'adresse mail suivante :
                span.blue=` communeliomer@gmail.com`
            p.subText Le mail doit comporter:
                span.blue=` un titre d'évènement, une description, une image de l'affiche et une date`

    div.center
        div.blockInfoLarge
            h3 SPA
            p.subText Oisemont Protection Animale: 24 Rue Jean Jaurès, 80140 Oisemont – 03 22 25 12 37
    div.center
        div.blockInfoLarge
            h3 Déchetterie
            p.subText La commune de Liomer est rattaché à la déchetterie de Trinoval située à Thieulloy-L’abbaye.
                a.subText.blue(href="https://www.trinoval.fr/Prestations-et-services/Particuliers/Dechetteries")=` Plus d'informations`
    div.center
        div.blockInfo
            h3 Numéro à contacter en cas d'urgence
            div.center.flex-column
                p.noMargin Samu
                p.subText.noMargin 15
            div.center.flex-column.lilMarginTop
                p.noMargin Pompier
                p.subText.noMargin 18
            div.center.flex-column.lilMarginTop
                p.noMargin Urgences
                p.subText.noMargin 112
            div.center.flex-column.lilMarginTop
                p.noMargin Police
                p.subText.noMargin 17

    include partials/footer
